<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<div id="title">
					<h1>Bosch Iot Suite: Performance Meter</h1>
				</div>
				<h3>Current Results</h3>
				<table id="allMovies" class="table table-striped">
					<thead>
						<tr>
							<th width="20%">Name</th>
							<th>Events Received</th>
							<th>Total Time Taken</th>
							<th>Average Time Per Message</th>
						</tr>
					</thead>
					<tbody>
						<tr class="result" th:each="entry : ${allstatus}">
							<td th:text="${entry.key}">keyvalue</td>
							<td th:if="${entry?.value}"
								th:class="'text '+${entry?.value?.completed ? 'text-success' : 'text-danger'}">
								<span th:text="${entry?.value?.received}"></span> out of <span
								th:text="${entry?.value?.expected}"></span> <br> <span
								class="badge badge-danger" th:unless="${entry?.value?.inOrder}">Not
									in order</span>
							</td>
							<td th:unless="${entry?.value}">No Data</td>

							<td th:text="${entry?.value?.timeTaken}">Total time</td>
							<td th:text="${entry?.value?.timePerMessage}">Average time</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-sm-12">
				<div id="title">
					<h3>Schedule A Performance Measurement</h3>
				</div>
				<form th:action="@{/trigger}" th:object="${triggerRequest}"
					method="post">
					<div class="form-group">
					    <label >Example select</label>
					    <select class="form-control" th:field="*{type}">
						  <option 
						      th:each="dropdownValue: ${typeOptions}"
						      th:value="${dropdownValue}"
						      th:text="${dropdownValue}" ></option>
						</select>
					 </div>
					 
					<div class="form-group">
						<label>Number Of Messages</label> 
						<input type="number" class="form-control" th:field="*{count}" />
					</div>

					<div class="form-group">
						<label>Delay Between Messages</label> 
						<input type="number" class="form-control" th:field="*{delay}" />
						<small class="form-text text-muted">Value must be entered in milli seconds.</small>
					</div>
					
					<div class="form-group">
						<label>Response Url</label> 
						<input type="text" class="form-control" th:field="*{responseUrl}" />
						<small class="form-text text-muted">Required only while using rest based metering. Ex: http://localhost:8080/api/v1/consumer</small>
					</div>
				
					<p>
						<input type="submit" value="Submit" class="btn btn-primary" />
					</p>
				</form>
			</div>
		</div>

	</div>